<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
       <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDfETKIePwhw4k7dIBjERyuZsLG1qQ2r_k",
    authDomain: "my-project-22194.firebaseapp.com",
    databaseURL: "https://my-project-22194.firebaseio.com",
    projectId: "my-project-22194",
    storageBucket: "my-project-22194.appspot.com",
    messagingSenderId: "973760067318"
  };
  firebase.initializeApp(config);
</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ url_for('static',filename='js/myscript.js') }}"></script>
      <style>
          .row {
			margin-left: 15px;
			margin-right: 15px;
		}
      </style>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/education">Education</a></li>
              <li role="presentation"><a href="/portfolio">Port folio</a></li>
            <li role="presentation"><a href="/contact">Contact</a></li>
            <li role="presentation"><a href="http://flask.pocoo.org" target="_blank">More About Flask</a></li>
          </ul>
        </nav>
      </div>
      {% block body %}
      {% endblock %}

    </div> <!-- /container -->
  <footer class="footer">
        <p>© 2017 Prapath Suayroop</p>
      </footer>
  </body>
</html>
