
{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>Who am i</h1>
        <p>
            I'm just only an ordinary man who doing IT jobs for his food and place to live in.
            I'm interesting in web programming, mobile programming on both platform.
        </p>
        <h1>How to contact me</h1>
        <p>
            Please use this following contacts
            <pre>
                <ul>
                    <li>FB: Prapath Nui Suayroop</li>
                    <li>email: prapaths at hotmail.com</li>
                    <li>twitter: @aspexp</li>
                </ul>
            </pre>
        </p>
    </div>
{% endblock %}