
{% extends "base.html" %}
{% block title %}Education{% endblock %}
{% block body %}
<div class="jumbotron">
        <h1>My Education page</h1>
        <p class="lead">Where I learned from?</p>
    </div>

<div class="col-xs-12 col-sm-12 col-md-12">
    <pre>
        <span class='glyphicon glyphicon-thumbs-up'></span> Studying in Web engineering major at Dhurakit Phundit University., Bangkok. (2015-Present)
    </pre>
    <pre>
        <span class='glyphicon glyphicon-thumbs-up'></span> M.Sc. Business Softare Development, Chulalongkorn University., Bangkok.
    </pre>
    <pre>
        <span class='glyphicon glyphicon-thumbs-up'></span> B.Edu Computer Education, Rajabhat Institue Chandrakasem., Bangkok.
    </pre>


</div>
{% endblock %}