
{% extends "base.html" %}
{% block title %}Port folio{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>The Portfolio page</h1>
        <p class="lead">You can learn more about my website here</p>
    </div>
<div>
    <h2>Python</h2>
    Python play ground => <a href="#">aspexp.pythonanywhere.com</a>
</div>
<div>
    <h2>ASP.NET</h2>
    ASP.NET web form =>
</div>
<div>
    <h2>iONic</h2>
    iONic App =>
</div>
<div>
    <h2>My GIT</h2>
    <pre>
        Git hub => https://github.com/aspexp
        But bucket => https://bitbucket.com/aspexp
    </pre>
</div>

{% endblock %}